body {
  margin: 20px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
th,
td {
  padding: 10px;
  border: 1px solid grey;
}

/* td:last-child {
  border-right: 1px solid grey;
  border-right: 1px solid grey;
} */
